*, *::before, **::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  position: relative;
  height: 100vh;
}

.carousel__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.76);
  cursor: pointer;
}

.carousel__item {
  display: none;
}

.carousel__item img {
  width: 100%;
}

.carousel__item--visible {
  display: block;
  -webkit-animation: fadeVisibility 1s;
          animation: fadeVisibility 1s;
  width: 100%;
}

.carousel__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel__actions button {
  cursor: pointer;
  width: 120px;
  height: 100vh;
  background: transparent;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.carousel__actions button:hover .carousel__arrow {
  -webkit-animation: blik 2s infinite;
          animation: blik 2s infinite;
}

.carousel__actions button#carousel__button--prev {
  margin-left: 3rem;
}

.carousel__actions button#carousel__button--next {
  margin-right: 3rem;
}

.carousel__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2rem;
}

.carousel__indicator {
  background: #807d7d;
  width: 40px;
  height: 2px;
  margin-left: 1rem;
}

.carousel__indicator--active {
  background: #fff;
}

.carousel__arrow {
  border: solid #807d7d;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 1.7rem;
  z-index: 999;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.carousel__arrow:hover {
  border-color: #fff;
}

.carousel__arrow--left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__arrow--right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@-webkit-keyframes blik {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blik {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: opacity linear;
            transform: opacity linear;
  }
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: opacity linear;
            transform: opacity linear;
  }
}
/*# sourceMappingURL=root.css.map */